*{
  font-family: 'Roboto Slab', serif;
}

body{
  background: url('../images/background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.heading{
  margin-bottom: 30px;
}

.page-content{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding-bottom: 180px
}

.greeting{
  height: 70%!important;
}
.content-center{
  background-color: rgba(255,255,255,0.75);
  padding: 50px;
  border-radius: 25px;
  
}

.col{
  margin-bottom: 20px;
}

.card{
  margin-bottom: 20px;
  border-radius: 25px;
}

.wandern{
  height: 95%;
}

.map-container{
  height: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.map{
  overflow: auto;
  border: 0;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/view3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav-item{
    margin-left: 30px;
  }

  .navbar-brand{
    margin-left: 20px;
  }

  .social{
    background-color: violet;
    width: 100%;
    height: 500px;
    border-radius: 25px;
    padding: 20px;
  }

  .app-container{
    min-height: 100%;
  }

  .footer{
    position: relative;
    color: white;
    /* negative value of footer height */
    clear: both;
  }

  .carousel{
    height: 600px;
    background-color: rgba(131, 131, 131, 0.466);
    padding-top: 25px;
  }

  .d-block{
    object-fit: contain;
    height: 550px;
  }

  

