*{
  font-family: 'Roboto Slab', serif;
}

body{
  background: url('../images/background2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page-content{
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.content-center{
  background-color: rgba(255,255,255,0.5);
  padding: 40px;
  border-radius: 25px;
}
.card{
  margin-bottom: 20px;
  border-radius: 25px;
}

.map{
  border-radius: 10px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/weg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .nav-item{
    margin-left: 30px;
  }

  .navbar-brand{
    margin-left: 20px;
  }